<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Phirum Chan
                    </h5>
                    <h6>
                        Web Developer and Designer
                    </h6>

                    <tabs>
                        <tab tabTitle="Infos">
                            <div class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Phirum</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Chan</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Phirumch18@hotmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>0472/42.66.16</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Web Developer and Designer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <tab tabTitle="Facturation">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Facture</th>
                                                <th>N°</th>
                                            </tr>
                                            </thead>
                                            <tbody id="items">
                                            <tr>
                                                <td>1</td>
                                                <td><a href=""></a>Salle privé</td>
                                                <td>1</td>
                                                <td>
                                                    <button class="btn btn-primary" routerLink="facture"> Consulter
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Salle Bubble</td>
                                                <td>2</td>
                                                <td>
                                                    <button class="btn btn-primary" routerLink="facture"> Consulter
                                                    </button>
                                                </td>

                                            </tr>
                                            <tr>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4 text-center">
                                                <ul class="pagination" id="myPager"></ul>
                                            </div>
                                        </div>
                                    </div><!--/table-resp-->
                                </div><!--/tab-pane-->
                            </div>
                        </tab>
                        <tabs>

                        </tabs>
                    </tabs>

                </div>
            </div>

        </div>
    </form>
</div>
