<div *ngIf="space">
    {{space.name}}
    {{space.type}}
    {{space.peopleCapacity}}
    {{space.area}}
    {{space.price}}
    <div *ngFor="let service of space.building.serviceTypes">
        {{service.name}}
        {{service.price}}
    </div>
    <div *ngFor="let equipment of space.equipmentTypes">
        {{equipment.name}}
        {{equipment.price}}
    </div>
    {{space.building.name}}
    {{space.building.address}}
    {{space.building.city.name}}
    {{space.building.city.zipCode}}
    <button (click)="displayReservationForm = true" *ngIf="!displayReservationForm">Réserver</button>
    <button (click)="displayReservationForm = false" *ngIf="displayReservationForm">Cacher le formulaire</button>
    <cow-reservation-form *ngIf="displayReservationForm" [space]="space"></cow-reservation-form>
</div>
