<!--&lt;!&ndash; Boucle qui appelle la liste entière des espaces &ndash;&gt;-->
<!--&lt;!&ndash; <div *ngFor="let space of spaces | slice: 0 : 2"> : si on ne veut afficher que les 2 premières &ndash;&gt;-->

<!--<form id="filter">-->
    <!--<Label> Filter</Label>-->
    <!--<input type="text"/>-->
<!--</form>-->


<div *ngFor="let space of spaces">
    <!--todo don't forget to either use component cow-space or the template beneath but not both-->
    <!--<cow-space [spaceModel]="space"></cow-space>-->

    <div class="row" style="margin-top: 70px;" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Apd {{ space.price }} €</span>
                    <img class="img-fluid" src="https://www.jobat.be/extra/img/cubicle_brodyworklounge2.jpg"
                         alt="Alternate Text"/>
                </div>

                <div class="card-body text-center">
                    <div class="ad-title m-auto">
gf                        <!-- Récupère le nom de chaque espace -->
                        <h5>{{ space.name }}</h5>
                        <h6>{{ space.category }}</h6>
                        <p style="color: #bf062d;">{{ space.area }}m² - {{ space.capacity }} pers. max </p>
                        <p>{{ space.resume }}</p>
                    </div>
                    <a class="btn btn-primary" href="#">Réserver</a>
                </div>
            </div>
        </div>
    </div>

</div>


