<!-- Recherche/Filtre -->

<form action="">
    <div class="form-group">
        <select (ngModelChange)="filters.type.value = $event; onFilterFormChanges()" [(ngModel)]="filters.type.value"
                class="form-control"
                id="space-type-filter" name="space-type">
            <option disabled selected value="BUBBLE">Type d'espace:</option>
            <option [value]="null">Tous</option>
            <option value="BUBBLE">Bubble</option>
            <option value="PRIVATE">Private</option>
            <option value="OPEN">Open</option>
        </select>
    </div>

    <div class="form-group">
        <label for="price-min">Prix min :</label>
        <input (ngModelChange)="filters.priceMin.value = $event; onFilterFormChanges()"
               [(ngModel)]="filters.priceMin.value" class="form-control"
               id="price-min" max="1000" min="0" name="price-min" type="number" value="200">
    </div>

    <div class="form-group">
        <label for="price-max">Prix max :</label>
        <input (ngModelChange)="filters.priceMax.value = $event; onFilterFormChanges()"
               [(ngModel)]="filters.priceMax.value" class="form-control"
               id="price-max" max="1000" min="0" name="price-max" type="number" value="800">
    </div>
</form>


<!-- Liste des espaces de coworking -->
<div class="row">
    <div *ngFor="let space of spaces" routerLink='/spaces/{{space.id}}' class="col-md-4">
        <div style="margin-top: 70px;" id="ads">

            <!-- CAffiche le prix de base -->
            <div>
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">Apd {{ space.price }} €</span>
                        <img class="img-fluid" [src]="imageService.get(space.imageUrl)"
                             [alt]="space.imageCredit"/>
                    </div>

                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <!-- Récupère le nom de chaque espace -->
                            <h5>{{ space.name }}</h5>
                            <h6>{{ space.type }}</h6>
                            <p style="color: #bf062d;">{{ space.area }}m² - {{ space.peopleCapacity }} pers. max </p>
                        </div>


                        <div>
                            <button type="button" class="btn btn-primary">consulter
                            </button>
                        </div>

                        <div class="container">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-xs-12">
    <router-outlet></router-outlet>
</div>
