



    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Wizard container -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="" method="">
                            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->


                            <div class="tab-content">

                                <div>
                                    <h4 class="info-text">Choisissez vos options de réservation </h4>


                                                <span class="form-label">Date de réservation</span>
                                    <input class="form-control" type="date" required>

                                    <span class="form-label">Heure de début</span>
                                    <input class="form-control" type="time" required>

                                    <span class="form-label">Heure de fin</span>
                                    <input class="form-control" type="time" required>

                                    <span class="form-label">Nombre de personnes</span>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card" style="margin:50px 0">
                                            <!-- Default panel contents -->
                                            <div class="card-header">Equipement</div>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    Téléphone fixe
                                                    <label class="switch ">
                                                        <input type="checkbox" class="default">
                                                        <span class="slider"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Armoire de rangement
                                                    <label class="switch ">
                                                        <input type="checkbox" class="primary">
                                                        <span class="slider"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Accès à la photocopieuse
                                                    <label class="switch ">
                                                        <input type="checkbox" class="success">
                                                        <span class="slider"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Envoi/Réception courriers
                                                    <label class="switch ">
                                                        <input type="checkbox" class="info">
                                                        <span class="slider"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Scanner à volonté
                                                    <label class="switch ">
                                                        <input type="checkbox" class="warning">
                                                        <span class="slider"></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card" style="margin:50px 0">
                                            <!-- Default panel contents -->
                                            <div class="card-header">Disposition</div>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    en U
                                                    <label class="switch ">
                                                        <input type="checkbox" class="default">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Théâtre
                                                    <label class="switch ">
                                                        <input type="checkbox" class="primary">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Ecole
                                                    <label class="switch ">
                                                        <input type="checkbox" class="success">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Cocktail
                                                    <label class="switch ">
                                                        <input type="checkbox" class="info">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </li>
                                                <li class="list-group-item">
                                                    Banquet
                                                    <label class="switch ">
                                                        <input type="checkbox" class="warning">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <a class="btn btn-primary" href="#">Réserver</a>
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->

