



<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!-- Wizard container -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="red" id="wizard">
                    <form action="" method="">
                        <div>
                            <h4 class="info-text" style="color: blue;">BUREAU PRIVATIF</h4>
                        </div>

                        <div class="tab-content">

                            <div>
                                <h5 class="info-text">Choisissez vos options de réservation </h5>


                                <span class="form-label">Date de début</span>
                                <input class="form-control" type="date" required>

                                <span class="form-label">Date de fin</span>
                                <input class="form-control" type="date" required>

                                <span class="form-label">Nombre de personnes</span>
                                <div>
                                <input class="form-control" type="number" min="1" max="10" [(ngModel)]="content" [ngModelOptions]="{standalone: true}" required>
                            </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card" style="margin:50px 0">
                                        <!-- Default panel contents -->
                                        <div class="card-header">Equipement en option</div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <input type="number" min="1" max="{{content}}"  value="{{content}}">
                                                &nbsp; téléphone(s)
                                                <label class="">
                                                    <!--<input type="checkbox" class="default">-->
                                                    <span class=""></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                <input type="number" min="1" max="{{content}}"  value="{{content}}">
                                                &nbsp; armoire(s)
                                                <label class="">
                                                    <!--<input type="checkbox" class="primary">-->
                                                    <span class=""></span>
                                                </label>
                                            </li>
                                            <div class="card-header">Inclus dans le prix</div>
                                            <li class="list-group-item">
                                                &nbsp; {{content}} bureau(x)
                                                <label class="">
                                                    <!--<input type="" class="success">-->
                                                    <span class=""></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                &nbsp; {{content}} Chaise(s)
                                                <label class="">
                                                    <!--<input type="" class="info">-->
                                                    <span class=""></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" style="margin:50px 0">
                                        <!-- Default panel contents -->
                                        <div class="card-header">Services</div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                               Courrier
                                                <label class="switch ">
                                                    <input type="checkbox" class="default">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Café
                                                <label class="switch ">
                                                    <input type="checkbox" class="primary">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Scanner
                                                <label class="switch ">
                                                    <input type="checkbox" class="success">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Photocopieuse
                                                <label class="switch ">
                                                    <input type="checkbox" class="info">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <a class="btn btn-primary" href="#">Réserver</a>
                </div>
            </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->

