



<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!-- Wizard container -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="red" id="wizard">
                    <form action="" method="">
                        <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                        <div>
                            <h4 class="info-text" style="color: blue;">BUREAU PRIVATIF</h4>
                        </div>

                        <div class="tab-content">

                            <div>
                                <h5 class="info-text">Choisissez vos options de réservation </h5>


                                <span class="form-label">Date de début</span>
                                <input class="form-control" type="date" required>

                                <span class="form-label">Date de fin</span>
                                <input class="form-control" type="date" required>

                                <!--<span class="form-label">Heure de début</span>-->
                                <!--<input class="form-control" type="time" required>-->

                                <!--<span class="form-label">Heure de fin</span>-->
                                <!--<input class="form-control" type="time" required>-->

                                <span class="form-label">Nombre de personnes</span>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card" style="margin:50px 0">
                                        <!-- Default panel contents -->
                                        <div class="card-header">Equipement</div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Téléphone
                                                <label class="switch ">
                                                    <input type="checkbox" class="default">
                                                    <span class="slider"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Armoire
                                                <label class="switch ">
                                                    <input type="checkbox" class="primary">
                                                    <span class="slider"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Bureau
                                                <label class="switch ">
                                                    <input type="checkbox" class="success">
                                                    <span class="slider"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Chaise
                                                <label class="switch ">
                                                    <input type="checkbox" class="info">
                                                    <span class="slider"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" style="margin:50px 0">
                                        <!-- Default panel contents -->
                                        <div class="card-header">Services</div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                               Courrier
                                                <label class="switch ">
                                                    <input type="checkbox" class="default">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Café
                                                <label class="switch ">
                                                    <input type="checkbox" class="primary">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Scanner
                                                <label class="switch ">
                                                    <input type="checkbox" class="success">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                Photocopieuse
                                                <label class="switch ">
                                                    <input type="checkbox" class="info">
                                                    <span class="slider round"></span>
                                                </label>
                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <a class="btn btn-primary" href="#">Réserver</a>
                </div>
            </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->

