<div *ngIf="user" class="container emp-profile">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-head">
                <h5>
                    {{user.firstName}} {{user.lastName}}
                </h5>

                <tabs>
                    <tab tabTitle="Infos">
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div aria-labelledby="home-tab" class="tab-pane fade show active" role="tabpanel">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nom de famille</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.lastName}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Prénom</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.firstName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab tabTitle="Facturation">
                        <div *ngIf="reservations" class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div *ngIf="reservations.length > 0" class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Prise</th>
                                            <th>Début</th>
                                            <th>Fin</th>
                                            <th>Pers.</th>
                                        </tr>
                                        </thead>
                                        <tbody id="items">
                                        <tr *ngFor="let reservation of reservations">
                                            <td>{{displayDate(reservation.orderDate)}}</td>
                                            <td>{{displayDate(reservation.startDate)}}</td>
                                            <td>{{displayDate(reservation.endDate)}}</td>
                                            <td>{{reservation.peopleNumber}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <ul class="pagination" id="myPager"></ul>
                                        </div>
                                    </div>
                                </div><!--/table-resp-->
                                <p *ngIf="reservations.length === 0">Vous n'avez pas encore effectué de réservation</p>
                            </div><!--/tab-pane-->
                        </div>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</div>
