<div class="jumbotron text-center bg">
    <div class="container text-center" style="margin-top: 70px;">
        <h1>Coworking Wavre</h1>
        <h2>Partage & Location de bureaux</h2>
        <p>Louer un bureau en ligne, c'est simple!</p>

        <div *ngIf="!isUserLoggedIn" class="container" style="margin-top: 50px;">
            <button class="btn btn-primary" routerLink="/login" style="margin-left: 10px;" type="button">Se connecter
                !
            </button>
            <button class="btn btn-primary" routerLink="/register" style="margin-left: 10px;" type="button">S'inscrire
            </button>
        </div>

    </div>
</div>
<cow-spaces-list></cow-spaces-list>
<div>Favicon made by <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a> from <a
    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
<p>Image Credit, Créateur :Andreas Lukoschek, Droits d'auteur :Officedropin.com</p>
