.bg {
    background-image: url('http://localhost:8080/api/images/coworking-spaces/bremen-coworking-lounge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
