<div class="row"> <!-- div row -->
    <div class="col-md-4 offset-md-4">           <!-- div col-md -->
        <h1>Sign up</h1>

        <div id="registration-error" class="alert alert-danger" *ngIf="registrationFailed"> <!-- div register failed -->
            <button type="button" class="close" aria-label="Close" (click)="registrationFailed = false"><span aria-hidden="true">&#215;</span></button>
            Veuillez recommencer avec un autre email.
        </div> <!-- div register failed -->

        <form (ngSubmit)="register()" [formGroup]="userForm" > <!-- Form register() -->

            <div class="form-group">
                <label for="firstname">Prenom</label>
                <input id="firstname" class="form-control" formControlName="firstname">
                <div *ngIf="firstnameCtrl.dirty && firstnameCtrl.hasError('required')" id="firstname-warning"> <strong>Le prenom est obligatoire </strong></div>
            </div>

            <div class="form-group">
                <label for="lastname">Nom</label>
                <input id="lastname" class="form-control" formControlName="lastname">
                <div *ngIf="lastnameCtrl.dirty && lastnameCtrl.hasError('required')" id="lastname-warning"> <strong>Le nom est obligatoire </strong></div>
            </div>

            <div class="form-group">
                <label for="login" id="login-label">Email</label>
                <input id="login" class="form-control" formControlName="login">
                <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')" id="login-warning"> <strong>L'email est obligatoire </strong></div>
            </div>

            <div formGroupName="passwordForm">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input id="password" class="form-control" type="password" formControlName="password">
                    <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')"> <strong>Le mot de passe est obligatoire </strong></div>
                </div>

                <div class="form-group">
                    <label for="passwordtest">Confirmer le mot de passe</label>
                    <input id="passwordtest" class="form-control" type="password" formControlName="passwordtest">
                    <div *ngIf="passwordtestCtrl.dirty && passwordtestCtrl.hasError('required')"> <strong>Confirmer le mot de passe ! </strong></div>
                </div>

                <div id="password-matching-error" *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')"><strong>Votre mot de passe ne corresponde pas</strong></div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Inscription</button>
     </form>       <!-- Form register() -->
    </div>         <!-- div col-md -->
</div>               <!-- div row -->
