<!--   Big container   -->
<div *ngIf="space" class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!-- Wizard container -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="red" id="wizard">
                    <!--Formulaire-->
                    <form action="" method="">

                        <div>
                            <h3 class="info-text" style="color: darkblue;">{{space.name}}</h3>
                            <h4 class="info-text" style="color: #9c27b0;">{{space.type}}</h4>
                        </div>

                        <div class="tab-content">

                            <!--NgModel: va reprendre la valeur des input et l'afficher dans les données dynamiques-->

                            <div>

                                <!--todo: format date et valeurs par défaut date début (date du jour) et date de fin (1 mois plus tard)-->

                                <span class="form-label">Date de début</span>
                                <input [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}"
                                       class="form-control "
                                       required type="date" useValueAsDate>

                                <span class="form-label">Date de fin</span>
                                <input [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" class="form-control"
                                       required type="date" useValueAsDate>

                                <span class="form-label">Nombre de personnes</span>
                                <div>
                                    <input [(ngModel)]="peopleNumber" [max]="space.peopleCapacity"
                                           [ngModelOptions]="{standalone: true}" class="form-control"
                                           max={{space.peopleCapacity}}
                                           min="1" required type="number">
                                </div>

                                <br><span class="form-label"
                                          style="color: darkblue;">Prix par jour : {{space.price}}
                                €</span>
                                <br><span class="form-label">{{calculateBusinessDays(startDate, endDate)}} jours ouvrables</span>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card" style="margin:50px 0">

                                                <div class="card-header">Equipements en option</div>

                                                <ul class="list-group list-group-flush">
                                                    <li *ngFor="let equipment of space.equipmentTypes"
                                                        class="list-group-item">
                                                        <input (ngModelChange)="updateEquipmentOrder(equipment, $event)"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [value]="0"
                                                               max="{{peopleNumber}}" min="0" ngModel="0"
                                                               type="number">
                                                        &nbsp; {{equipment.name}}
                                                        - {{equipment.price}} €

                                                    </li>
                                                    <li *ngIf="space.equipmentTypes.length === 0">
                                                        Pas d'équipement disponible pour cet espace.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card" style="margin:50px 0">

                                                <!-- Default panel contents -->
                                                <div class="card-header">Services en option</div>

                                                <ul class="list-group list-group-flush">
                                                    <li *ngFor="let serviceType of space.building.serviceTypes"
                                                        class="list-group-item">
                                                        {{serviceType.name}} <span> - {{serviceType.price}} €</span>
                                                        <label class="switch">
                                                            <input (click)="updateServiceOrder(serviceType)"
                                                                   class="default"
                                                                   type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--todo: total: champ calculé-->
                                            <span class="form-label"
                                                  style="float:right;">TOTAL : {{space.price}} €</span><br><br>
                                        </div>

                                    </div>
                                </div>
                                <!--todo: route-->
                                <a class="btn btn-info" href="#" style="float:left;">Back</a>
                                <a class="btn btn-primary" href="#" style="float:right;">Réserver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->
<!--  big container -->
